#root {
	background-color: #1f1f1f;
}
.mynav {
	background-color: rgba(46, 46, 46, 0.2) !important;
}
.hamburger span,
.hamburger button {
	font-size: 1rem;
	fill: red !important;
	color: red !important;
	background-color: red;
}

.hamburger span:hover {
	border: 2px solid white;
}

.sidebar-item a:hover {
	color: #ff4d4d;
}

.footer-links a:hover {
	color: #ff4d4d;
}

.player {
	background-color: #4d4d4d;
	height: 50px;
}

.custom-placeholder::placeholder {
	color: #4d4d4d !important; /* Forza l'applicazione del colore */
	opacity: 1; /* Assicura che il colore sia visibile */
}
